* {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-decoration: none;
  color: black;
  font-size: 100%;
  border: 0;
}

.teams_wrapper {
  background-color: #ffffff;
  margin: 0 100px;
  position: relative;
  border-radius: 8px;
  overflow: scroll;
  overflow-x: hidden;

  .team-list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;

    .division-wrapper {
      width: 30%;
      padding: 0;
      margin: 20px 10px;

      h3 {
        text-align: start;
      }

      .line {
        width: 50%;
        height: 1px;
        background-color: black;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      p {
        width: fit-content;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
      }
    }
  }

  h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(64, 65, 65);
  }
}
